Attribution & Licence details.txt
Exercicio_Revisao.pdf
Jogos_Aula_00_Apresentacao_2017.pdf
Jogos_Aula_01_Introducao_Game_Design_2017.pdf
Jogos_Aula_02_Game_Design_Document_2017.pdf
Jogos_Aula_03_Introducao_Linguagem_Lua_2017.pdf
Jogos_Aula_04_Tutorial_Love_2017.pdf
Jogos_Aula_05_Introducao_Love_2017.pdf
Jogos_Aula_06_Estruturas_Condicionais_2017.pdf
Jogos_Aula_07_Estruturas_Repeticao_2017.pdf
Jogos_Aula_08_Vetores_e_Matrizes_2017.pdf
Jogos_Aula_09_Outras_Funcionalidades_2017.pdf
Jogos_Aula_10_Inteligencia_Artificial.pdf
Jogos_Projetos_Metas.pdf
Lista 1/ListaExercicios01.pdf
Cyber Venger/GDD/738af8ce45ee776234ea552fa5de0ce6.gif
Cyber Venger/GDD/a.png
Cyber Venger/GDD/CYBER VENGER.pptx
Cyber Venger/GDD/CYBER VENGER1.pptx
Cyber Venger/GDD/d.png
Cyber Venger/GDD/esc.png
Cyber Venger/GDD/GDD-CyberVenger.docx
Cyber Venger/GDD/GDD-CyberVenger1.3.docx
Cyber Venger/GDD/GDD-versão-1.2.docx
Cyber Venger/GDD/jumpbug_240.gif
Cyber Venger/GDD/k.png
Cyber Venger/GDD/Modelo_Game_Design_Document.docx
Cyber Venger/GDD/rastan_long_240.gif
Cyber Venger/GDD/s.png
Cyber Venger/GDD/telademenu.png
Cyber Venger/GDD/w.png
